<div class="container">
  <div class="card">
    <h2>Make Transfer</h2>
    <form (submit)="makeTransfer()">
      <div class="form-group">
        <label for="sourceAccountId">Source Account:</label>
        <select id="sourceAccountId" [(ngModel)]="transfer.sourceAccountId" name="sourceAccountId" class="form-control" required>
          <option *ngFor="let account of accounts" [value]="account.id">{{ account.accountNumber }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="destinationAccountId">Destination Account:</label>
        <select id="destinationAccountId" [(ngModel)]="transfer.destinationAccountId" name="destinationAccountId" class="form-control" required>
          <option *ngFor="let account of accounts" [value]="account.id">{{ account.accountNumber }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="amount">Amount:</label>
        <input type="number" id="amount" [(ngModel)]="transfer.amount" name="amount" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>






  
  
  