<div class="navbar">
  <a routerLink="/create-account" routerLinkActive="active">Create Account</a>
  <a routerLink="/accounts" routerLinkActive="active">Accounts</a>
  <a routerLink="/transaction-history" routerLinkActive="active">Transaction History</a>
  <a routerLink="/deposit" routerLinkActive="active">Make Deposit</a>
  <a routerLink="/withdrawal" routerLinkActive="active">Withdraw Money</a>
  <a routerLink="/transfer-money" routerLinkActive="active">Transfer Money</a>
</div>

<router-outlet></router-outlet>


