<div class="container">
    <div class="card">
      <h2>Transaction History</h2>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Final Balance</th>
            <th>Account ID</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions">
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.transactionType }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.finalBalance }}</td>
            <td>{{ transaction.accountId }}</td>
            <td>{{ transaction.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  